/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
  font-family: 'Lato';
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: black;
  
}

img {
  width: 100%;
  aspect-ratio: auto;
}
.wrapper {
max-width: 1060px;
  margin: 0 auto;
}

.wrapper-lg-size {
  max-width: 1260px;
  margin: 0 auto;
}

.section-title {
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  margin-right: 50px;
  

}

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  margin-top: 7px;

}

/* Header styles start */


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 82px;
}

.header__link {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}

/* Header styles end */



/* Intro styles start */
.intro {
  height: 100vh;
  background: url(../img/Hero.png) no-repeat center;
  background-size: cover;
  padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
    font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 59px;
  
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 61px;
    
}

.form__input-text {
    width: 297px;
    background: transparent url(../img/svg/Oval.svg) no-repeat left top;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.form__input-text::placeholder {
    font-size: 18px;
    color: white;
}

.form__submit {
    background-color: #1B7DFF;
    border: 0;
    color: white;
    padding: 15px 39px 14px;
    text-transform: uppercase;
}

.form__submit:hover, .form__submit:focus, .form__submit:active {
  background-color: #1b67ca;
}

/* benefits styles start */

.benefits {
  margin-bottom: 131px;
  height: 376px;
}

.benefits__wrapper {
  width: 1260px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.16);
  position: relative;
  top: -242px;
}

.benefits__title {
  color: #102746;
  font-size: 35px;
  line-height: 42px;
  padding: 100px;

}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 55px;
  padding: 0 100px;
  padding-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;

}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
}

.benefits__card-description {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 24px;
}

.benefits__card-link {
  font-size: 16px;
  line-height: 24px;
  padding-right: 58px;
  text-decoration: none;
  color: #006DFE;
  background: url(/img/svg/arrow-right-ico.svg) no-repeat 95% center;
  transition: .2s all;

}

.benefits__card-link:hover, .benefits__card-link:focus, .benefits__card-link:active {
  background: url(/img/svg/arrow-right-ico.svg) no-repeat right center;

}


/* benefits styles end */

/* places styles start */
.places {
  margin-bottom: 131px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__view-all {
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 59px;
  background: url(/img/svg/arrow-right-ico.svg) no-repeat right;
}

.places__view-all:hover, .places__view-all:focus, .places__view-all:active {
  opacity: 0.7;
}

.places__cards-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  row-gap: 10px;
  column-gap: 10px;

}

.places__card {
  overflow: hidden;
  position: relative;
}

.places__card::after {
  position: absolute;
  content: '';
  background-color: #15182466;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  transform: scale(1.05);
}

.places__card-lg-size {
  grid-column: span 3;
}

.places__card-sm-size {
  grid-column: span 2;
}

.places__card-pic {
  transition: .15s all;
}

.places__card-pic-lg-size {
  height: 354px;
  object-fit: cover;
}

.places__card-pic-sm-size {
  height: 283px;
  object-fit: cover;
}

.places__card-title {
  font-size: 50px;
  line-height: 60px;
  position: absolute;
  z-index: 3;
  color: white;
  bottom: 27px;
  left: 29px;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}


/* places styles end */

/* tours styles start */

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 108px;
  margin-bottom: 77px;
 
}

.tours__pic {

}

.tours__info {
  padding-top: 26px;
  
}

.tours__title {
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;

}

.tours__desc {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}

.tours__view-more {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(/img/svg/arrow-right-ico.svg) no-repeat 95%;
  transition: 0.3s all;
}

.tours__view-more:hover, .tours__view-more:focus {
  background: url(/img/svg/arrow-right-ico.svg) no-repeat right;
}
/* Tours styles end */

/* Top styles start */

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px;
}

.top__card-pic {
  position: relative;
}

.top__card-stats {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.top__card-title {
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}

.top__card-likes {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.top__card-comments {
  font-size: 18px;
  line-height: 24px;
  color: white;
}
/* Top styles end */